SUPABASE_URL=https://zcxnyigouggeelwgbpst.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY_REAL
SUPABASE_JWT_SECRET=Q2KInpPH9racPojG5OkMqqwZuZdTQ3o9+e0nzJOSDne0Syf2hn6r4zUsA0v+WjBDYZW25HLfYESfrMXS+B962Q==
CORS_ORIGINS=http://localhost:5173,https://tu-dominio-produccion.com
PORT=5000
FRONTEND_URL=http://localhost:5173
ADMIN_EMAILS=admin@tu-dominio.com

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM=Canivet <tu_correo@gmail.com>
SMTP_USE_SSL=true
SMTP_USE_TLS=false
